<header>
  <div class="main">
    <h1>{{ shop.name }}</h1>
    <div class="nav">
      {%for link in section.settings.menu.links %}
      {%if link.links != blank%}
        <div>
          <button>
            {{link.title}}
          </button>
        </div>
      {% else %}
      <a href="{{link.url}}"></a>
    </div>
  </div>
  {% schema %}
  {
    "name": " Header",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "menu",
        "default": "main-menu "
      } 
      
      ]
  }
  {% endschema %}
</header>
