<header>
  <div class="main">
    <h1>{{ shop.name }}</h1>
    <div class="nav">
      <a href=""> Home </a>
      <a href="">Services </a>
      <a href=""> About </a>
      <a href=""> Contact </a>
    </div>
  </div>
</header>
