<header>
  <div class="main">
    <h1>{{ shop.name }}</h1>
    <div class="nav">
      {% for link in section.settings.menu.links %}
        {% if link.links != blank %}
          <div>
            <button>
              {{ link.title }}
            </button>
          </div>
        {% else %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% endif %}
      {% endfor %}
      <div class="cart">
        <a href="/cart">{% render 'icon-cart' %}</a>
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <a href="/accounts">accounts</a>
          {% else %}
          login
        {% endif %}
        {% endif %}       
      </div>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    }
  ]
}
{% endschema %}
