<section class="trending">
  <img src="{{ section.settings.trending_image | image_url: widhth: 1600 }}" alt="Trending"
  width="{{ section.settings.trending_image.width }}"
  height="{{ section.settings.trending_image.height }}">
</section>

{% schema %}
{
  "name": "Trending Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "trending_image",
      "label": "Trending Image"
    }
  ]
}
{% endschema %}

