{%  section 'hero' %}
<h1 style="font-size: 36px; font-weight: bold; text-align: center; display: flex; justify-content: center; align-items: center; height: 100px;">Welcome to {{ shop.name }}</h1>
{%  section 'collection-grid' %}
<p style="font-size: 24px; font-weight: bold; text-align: center; display: flex; justify-content: center; align-items: center; height: 100px;">Check out our latest collections!</p>
{%  section 'trending' %}
