{%  section 'hero' %}
<h1 style="font-size: 36px; font-weight: bold; text-align: center; display: flex; justify-content: center; align-items: center; height: 100px;">Welcome to {{ shop.name }}</h1>
<p style="font-size: 24px; font-weight: bold; text-align: center; display: flex; justify-content: center; align-items: center; height: 100px;">Check out our latest collections!</p>
{%  section 'collection-grid' %}

<h2 style="text-align: center; font-size: 28px; margin: 40px 0;">Shop by Category</h2>
{% section 'collection-grid' %}

<p style="font-size: 24px; font-weight: bold; text-align: center; display: flex; justify-content: center; align-items: center; height: 100px;">Check out our trending products!</p>


{%  section 'trending' %}
